{% load bootstrap4 %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Books</title>
      {% block styles %}{% bootstrap_css %}{% endblock %}
      {% block scripts %}{% bootstrap_javascript jquery='full' %}{% endblock %}


  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container fixed">
        <a class="navbar-brand" href="{% url 'books-list' %}">Books</a>
        <a class="navbar-brand" href="">Search Books</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>

</html>
